<!DOCTYPE HTML>
<html>
<head>
  <title>TMS</title>
  <!-- load the bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
  <!-- load the libraries we need -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
   <script type="text/javascript" src="backbone.localStorage.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/task_router.js"></script>
  <script type="text/javascript" src="js/models/task_model.js"></script>
  <script type="text/javascript" src="js/views/task_index.js"></script>
  <script type="text/javascript" src="js/views/task_column.js"></script>
  <script type="text/javascript" src="js/views/task_new.js"></script>
  <script type="text/javascript" src="js/views/task_edit.js"></script>
  <!-- <script type="text/javascript" src="js/views/task_show.js"></script>-->
</head>
<body>
  <header> 
    <h1>TMS</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="primary-content">

      <p> Chocolate </p>
        <!-- the container that gets populated with the index -->
      </div>
    </div>
  </div>

  <!-- the form, used for create and edit -->
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-danger fade in" style="display:none;"></div>
      <form>
        <h2><%= title %></h2>
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" name="title" value="<%= title %>" />
        </div>
        <div class="form-group">
          <label>Default Duration:</label>
          <input type="text" class="form-control" name="duration" value="<%= duration %>" />
        </div>

        <button class="save btn btn-large btn-info" type="submit">Save</button>
        <a href="#tasks/index" class="btn btn-large">Cancel</a>
      </form>
    </div>
  </script>

  <!-- the index container -->
  <script type="text/template" id="indexTemplate">
    <div class="well">
      <a class="btn btn-block btn-large btn-info" href="#task/new">Create New Task</a>
    </div>
      <div id="Tasks"></div>
  </script>

  <!-- the row template, renders once for each item in the index -->
  <script type="text/template" id="rowTemplate">

  
      <h1 class="rotate"><%= title %></h1>
      <h2 class="rotate"><%= duration %></h2>
      <div class="instances">instances stack here</div>
      <div class="task-buttons">
	    <a href="#" class="add task-title btn btn-danger btn-small">+</a>
      <a href="#" class="petitedelete task-title btn btn-danger btn-small">-</a>
      <br><br>
	    <a href="#task/<%= id %>/edit" class="task-title btn btn-danger btn-small">edit</a>
      <a href="#" class="delete btn btn-danger btn-small">delete</a>
	  </div>

  </script>

  <script type="text/javascript">
          //alert("blash");
  </script>

  <!-- kick off the app -->
  <script type="text/javascript">
    var router = new APP.TaskRouter({
      tasks: new APP.TaskCollection()
    });

    // we manually pass in the initial data, but this would be called with a collection.fetch() normally

    //Note that fetch should not be used to populate collections on page load — all models needed at load time should already be bootstrapped in to place. fetch is intended for lazily-loading models for interfaces that are not needed immediately: for example, documents with collections of notes that may be toggled open and closed. http://backbonejs.org/#Collection-fetch//


    router.tasks.reset([
      {
        "title": "Running",
        "id": "45",
        "duration": "30",
        "instance": [0,1,2,3,4,5]
      },
      {
        "title": "Example Task 2",
        "id": "48",
        "duration": "30",
        "instance": [0,1]
      },
      {
        "title": "Example Task 3",
        "id": "52",
        "duration": "30",
        "instance": [0,1]
      }
    ]);
    
    // now that everyting is setup we tell backbone to watch the urls
    Backbone.history.start();
  </script>

<script>


//Adds class 'divWidthChanger' to first-child div 
function divCounterForWidth() {
    $('#Tasks').children('div').addClass("divWidthChanger");
    console.log("#Tasks");
    var divCountForWidthChanger = ($("div.divWidthChanger").length) +1;
    console.log("There are " + divCountForWidthChanger + " divs.");
};

divCounterForWidth();

//Eventlistener for adding div count
$(".save").click(function() {
  alert("Handler for" + divCountForWidthChanger + "changed.");
});

//Take total number of divs and divide the sum by 100%

//Add result to the css of all the divs with 'divWidthChanger'

//Color generator 
$(".divWidthChanger").each(function() {
   var hue = 'rgb(' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ',' + (Math.floor((256-199)*Math.random()) + 200) + ')';
   $(this).css("background-color", hue);
});
</script>
</body>
</html>
