<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Authentication Example</title>
		<!-- load the bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/style-danniel.css" media="all" rel="stylesheet" type="text/css" />
  <!-- load the libraries we need -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/task_router.js"></script>
  <script type="text/javascript" src="js/models/task_model.js"></script>
  <script type="text/javascript" src="js/views/task_index.js"></script>
  <script type="text/javascript" src="js/views/task_row.js"></script>
  <script type="text/javascript" src="js/views/task_new.js"></script>
  <script type="text/javascript" src="js/views/task_edit.js"></script>
  <script type="text/javascript" src="js/views/task_show.js"></script>
</head>
  <body class='loginPage'>
    <nav>
  <div class="nav-div">
    <p class="tms-title">TMS<sup class="tms-tm">&#8482;</sup></p>
    <p class="tms-slogan">Track your shit the right way</p> 
  </div> 
  <div class="nav-menu">
    <ul class="nav-ul">
      <li class="nav-li"><a href="">The Team</a></li>
      <li class="nav-li"><a href="">The Project</a></li>
    </ul>
   </div>  
</nav>

		<section class="loginSection">
			<h1>TMS Login</h1>
				<div>{{message}}</div>

				<form method="post" action="/login">
				<br/>
					<p>
						<label>Username:</label>
						<input name="username" type="text">
        </p>
        <p>
					<label>Password:</label>
					<input name="password" type="password">
					<!--input name="password" type="text"-->
        </p>
        <p>
					<input value="Login" type="submit">
        </p>
      </form>
      <a href="/logout">Log-Out</a>
      <a href="/register">Register</a>

    </section>
  </body>
</html>
