<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Authentication Example</title>
		<!-- load the bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
  <!-- load the libraries we need -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- load our scripts -->
  <script type="text/javascript" src="js/task_router.js"></script>
  <script type="text/javascript" src="js/models/task_model.js"></script>
  <script type="text/javascript" src="js/views/task_index.js"></script>
  <script type="text/javascript" src="js/views/task_row.js"></script>
  <script type="text/javascript" src="js/views/task_new.js"></script>
  <script type="text/javascript" src="js/views/task_edit.js"></script>
  <script type="text/javascript" src="js/views/task_show.js"></script>
</head>
  <body class='regPage'>
		<section class="regSection">
			<h1>Register</h1>
				<div>{{message}}</div>
				<form method="post" action="/register">
				<br/>
					<p>
						<label>Username:</label>
						<input name="username" type="text">
        </p>
        <p>
					<label>Password:</label>
					<input name="password" type="password">
					<!--input name="password" type="text"-->
        </p>
        <p>
					<input value="register" type="submit">
        </p>
      </form>
      

    </section>
  </body>
</html>
