<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Authentication Example</title>
		<!-- load the bootstrap stylesheet -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" media="all" rel="stylesheet" type="text/css" />
  
</head>
  <body class='tyPage'>
		<section class="tySection">
			<h1>Registered</h1>
				<div>{{message}}</div>
				<!-- <form method="post" action="/register">
				<br/>
					<p>
						<label>Username:</label>
						<input name="username" type="text">
        </p>
        <p>
					<label>Password:</label>
					<input name="password" type="password">
					<!input name="password" type="text"-->
       <!--  </p>
        <p>
					<input value="register" type="submit">
        </p>
      </form> -->
      
      <a href='index.html'>Sign-In</a>
    </section>
  </body>
</html>
